.dogCardContainer {
    height: 33vh;
    width: 32vh;
    background-color: #090101;
    border-radius: 25px 25px 8px 8px;
    border: solid 6px #090101;
    transition: all 0.5s;
}

.dogCardContainer img {
    height: 60%;
    width: 100%;
    border-radius: 18px 18px 0 0;
    transition: all 0.5s;
}

.dogCardContainer div {
    color: #efe8c7;
    transition: all 0.5s;
}

.dogCardContainer div h4 {
    font-size: 20px;
}

.dogCardContainer div h5 {
    margin-top: 0.85vh;
}

.dogCardContainer:hover {
    transform: scale(1.04);
    background-color: #858062;
    border: solid 6px #858062;
    border-radius: 5px 40px 40px 40px;
}

.dogCardContainer:hover img {
    border-radius: 5px 35px 0 0;
}

.dogCardContainer:hover div {
    color: white;
}

@media screen and (max-width:1000px) {
    .dogCardContainer {
        height: 40vh;
        width: 40vh;
        margin-bottom: 1.5vh;
        margin-top: 1.5vh;
    }
    .dogCardContainer div h4 {
        font-size: 1.6rem;
    }
    .dogCardContainer div h5 {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

@media screen and (max-width:700px) {
    .dogCardContainer div h4 {
        font-size: 1rem;
    }
    .dogCardContainer div h5 {
        font-size: 0.75rem;
        font-weight: 500;
    }
}

@media screen and (max-width:320px) {
    .dogCardContainer {
        height: 58vh;
        width: 50vh;
    }
}